<mdb-navbar  SideClass="navbar  navbar-expand-lg navbar-dark black indigo">
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/']">rendezvous</a></mdb-navbar-brand>

    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/createRendezvous']">creer rendezvous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/clients']">clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/createClient']">creer client</a>
            </li>
        

            

        </ul>
        </links>
    
</mdb-navbar>
<!--/.Navbar-->