<div class="container" style="margin-top: 50px;">
    <form (ngSubmit)="creerrendezvous()" [formGroup]="form">
        <!-- Grid row -->
        
        
       

          <!-- Default input -->
          <div class="form-group">
            <label for="client">Client</label>
            <select class="browser-default custom-select" class="form-control" formControlName="client" id="client" name="client">
                <option selected>choisir un client </option>

                <option *ngFor="let client of listeClients"  value="{{client.cin}}">{{client.nom}} {{client.prenom}}</option>

              </select>
           
          </div>
        
          


        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
              <input mdbInput type="text" class="form-control" class="form-control" formControlName="date" id="date" name="date" placeholder="date">
              
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
              <input mdbInput type="text" class="form-control" formControlName="heur" id="heur" name="heur" placeholder="heur">
             
            </div>
          </div>
    
       
        <button type="submit" mdbBtn color="primary">ajouter rendezvou</button>
      </form>
     
    </div> 
